#spectrom_sync.sync-menu-contents {
	margin-right: 0.5em;
	float: right;
	border: none;
}

#spectrom_sync.sync-menu-contents .sync-button {
	width: auto;
	padding-left: 6px;
	padding-right: 8px;
}

#spectrom_sync.sync-menu-contents .sync-button-icon {
	margin-left: 0;
	padding-right: 0;
}

.sync-menu-msgs {
	margin: 0.5rem 2px 0.5rem 0;
	border: 1px solid #dddddd;
	padding: 5px;
	position: absolute;
	top: 3.5em;
}

.sync-menu-failure-msg {
	color: red;
	background: #fff;
}